body {
    background-color:#a8ffff;
}
.ball {
    background-color:orange;
    height:90px;
    width:90px;
    border-radius:50%;
    margin-top:135px;
    margin-left:127px;
    animation-name:bouge;
    animation-duration:0.3s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in;
    animation-direction:alternate;
    z-index:2;
    position:relative;
    overflow:hidden;
}

@keyframes bouge {
    0% {}
    100% {transform:translate(0px,175px);}
}

.bei {
    background-color:#eac3b8;
    height:30px;
    width:180px;
    margin-left:172px;
    margin-top:-100px;
    z-index:3;
    position:relative;
    border-radius:30% 0% 0% 30%;
}

@keyframes bras {
    0% {}
    100% {transform:translate(0px,47px);}
}

.hand {
    background-color:#eac3b8;
    height:28px;
    width:50px;
    margin-left:147px;
    margin-top:-28px;
    position:relative;
    z-index:4;
    border-radius:100%;
    transform:rotate(-10deg);
}

.fing {
    background-color:#eac3b8;
    height:10px;
    width:30px;
    position:relative;
    z-index:5;
    margin-left:155px;
    margin-top:-5px;
    border-radius:30%;
    transform:rotate(-45deg);
}

.finge {
    background-color:#eac3b8;
    height:7px;
    width:30px;
    position:relative;
    z-index:6;
    border-radius:30%;
    margin-top:-20px;
    margin-left:140px;
}

.finger {
    background-color:#eac3b8;
    height:7px;
    width:20px;
    position:relative;
    z-index:7;
    border-radius:30%;
    margin-top:-0px;
    margin-left:125px;
    transform:rotate(-46deg);
}

.an {
    animation-iteration-count:infinite;
    animation-timing-function:ease;
    animation-direction:alternate;
    animation-duration:0.3s;
    animation-name:bras;
    position:relative;
    z-index:8;
}

.sol {
    height:69px;
    width:360px;
    background-color:#d5c4a1;
    margin-left:-8px;
    margin-top:245px;
}

.pot {
    height:300px;
    width:10px;
    background-color:grey;
    margin-top:-369px;
    margin-left:45px;
}

.blo {
    height:60px;
    width:90px;
    background-color:white;
    border:2px solid red;
    margin-top:-315px;
    margin-left:4px;
    border-radius:50% 50% 5% 5%;
}

.bla {
    height:28px;
    width:30px;
    background-color:white;
    border:1px solid red;
    margin-top:-35px;
    margin-left:34px;
}

.bar {
    height:3px;
    width:38px;
    background-color:#ff5c00;
    margin-left:31px;
    margin-top:-2px;
}

.pan {
    height:2px;
    width:40px;
    background-color:#c0c0c0;
    transform:rotate(83deg);
    margin-left:18px;
    margin-top:18px;
}

.pani {
    height:2px;
    width:40px;
    background-color:#c0c0c0;
    transform:rotate(97deg);
    margin-top:-2px;
    margin-left:42px;

}

.panin {
    height:2px;
    width:20px;
    background-color:#c0c0c0;
    margin-left:40px;
    margin-top:16px;
}

.panini {
    height:2px;
    width:33px;
    background-color:#c0c0c0;
    margin-left:32px;
    margin-top:-30px;
    transform:rotate(35deg);
}

.paninin {
    height:2px;
    width:33px;
    background-color:#c0c0c0;
    margin-left:35px;
    margin-top:-2px;
    transform:rotate(145deg);
}

.paninini {
    height:2px;
    width:27px;
    background-color:#c0c0c0;
    margin-left:35px;
    margin-top:15px;
    transform:rotate(35deg);
}

.panininin {
    height:2px;
    width:27px;
    background-color:#c0c0c0;
    margin-left:38px;
    margin-top:-2px;
    transform:rotate(145deg);
}

.lig {
    height:90px;
    width:3px;
    background-color:black;
    margin-left:43px;
    margin-top:0px;
    position:relative;
    z-index:3;
}

.lign {
    height:3px;
    width:90px;
    background-color:black;
    margin-left:0px;
    margin-top:-47px;
    position:relative;
    z-index:3;
}

.ligne {
    height:90px;
    width:90px;
    background-color:orange;
    border: 3px solid black;
    border-radius:50%;
    margin-left:60px;
    margin-top:-48px;
    position:relative;
    z-index:2;
}

.lignes {
    height:90px;
    width:90px;
    background-color:orange;
    border: 3px solid black;
    border-radius:50%;
    margin-left:-67px;
    margin-top:-97px;
    position:relative;
    z-index:2;
}
